# This is used by Travis CI site in order
# to produce a PDF file out of LaTeX.

addons:
  apt:
    packages:
      - texlive-full
script:
  - latexmk -pdf -pdflatex="pdflatex -interaction=nonstopmode"
    Naxos_XCSP3_2017.tex

after_success:
  # Decrypt private key for accessing web server
  - openssl aes-256-cbc -K $encrypted_063f8be7b16f_key
    -iv $encrypted_063f8be7b16f_iv
    -in key_for_uploading.pem.enc
    -out key_for_uploading.pem -d
  - chmod 600 key_for_uploading.pem
  # Upload to web server
  - scp -i key_for_uploading.pem -o StrictHostKeyChecking=no
    Naxos_XCSP3_2017.pdf pothitos@linux19.di.uoa.gr:public_html/papers/
  - ssh -i key_for_uploading.pem pothitos@linux09.di.uoa.gr
    chmod o+r public_html/papers/Naxos_XCSP3_2017.pdf
